a.button-facebook-connect {
    background-color: #3b5998;
    color: #ffffff;
    border: 1px solid #3b5998;
    float: none;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 5px;
    box-sizing: border-box;
    line-height: 32px;
    font-size: 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

a.facebook_rel {
    background-color: #ffffff;
    color: #3b5998;
    border: 1px solid #3b5998;
}

a.button-google-connect {
    background-color: #fff;
    color: #4285f4;
    border: 1px solid #4285f4;
    float: none;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 20px;
    padding-right: 20px;
    padding-left: 40px;
    margin: 0 5px;
    box-sizing: border-box;
    line-height: 32px;
    font-size: 1.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: url("../images/g-normal.png") no-repeat left center;
}
